.container {
  @apply px-8 py-0;
}

.main {
  @apply min-h-screen
    px-0 py-16
    flex flex-col
    justify-center
    items-center;
}

.title {
  @apply m-0
    leading-5
    text-2xl
    sm:text-4xl
    md:text-5xl
    lg:text-6xl
    font-semibold;
}

.title,
.description {
  @apply text-center;
}

.description {
  @apply mx-0 my-16;
}

.description button {
  @apply mx-2;
}

.footer {
  @apply mx-0 my-0;
}
